.card{
	margin-bottom: 30px;
}

.card-image {
	padding: 20px;
}

.small {
	font-size: 12px;
}

.small > i{
	font-size: 10px;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-wrapper {
	overflow: hidden;
}